@using BookshelfMVC.DTO
@{
    @model BookshelfMVC.ViewModels.AuthorBookViewModel
    var authors = ViewData["Authors"] as List<AuthorDTO>;
}

@if (TempData["SuccessMessage"] != null)
{
    <div id="success-message" role="alert" class="alert alert-success fixed bottom-20 left-1/2 -translate-x-1/2  z-20 w-96">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span>@TempData["SuccessMessage"]</span>
    </div>
    <script>setTimeout(() => document.getElementById("success-message").remove(), 4000);</script>
}
<h1 class="text-xl font-bold text-base-content mt-6">Add Book</h1>
<form action="" method="post" class="flex flex-col gap-4 w-1/2 mt-6">
    <div class="flex flex-col">
        <label asp-for=Book.Title></label>
        <input asp-for="Book.Title" class="input bg-white input-bordered" />
    </div>

    <div class="flex flex-col">
        <label asp-for="Book.Description"></label>
        <textarea asp-for="Book.Description" class="textarea textarea-md bg-white input-bordered">
            </textarea>
    </div>

    <div class="flex justify-between gap-4 flex-col sm:flex-row">
        <div class="flex flex-col sm:w-10 w-full flex-1">
            <label asp-for="Book.NumPages"></label>
            <input asp-for="Book.NumPages" class="input bg-white input-bordered" />
        </div>

        <div class="flex flex-col sm:w-10 w-full flex-1">
            <label asp-for="Book.PublishDate"></label>
            <input asp-for="Book.PublishDate" class="input bg-white input-bordered" type="date" />
        </div>
    </div>

    <div class="flex flex-col">
        <label asp-for="Book.ISBN"></label>
        <input asp-for="Book.ISBN" class="input bg-white input-bordered" />
    </div>

    <fieldset>
        <legend class="font-bold text-lg">Author</legend>
        <div>
            <input id="add-new-author-true" class="mr-2" type="radio" name="add-new-author" value="true" checked />
            <label for="add-new-author-true">Add new author</label>
        </div>
        <div>
            <input id="add-new-author-false" class="mr-2" type="radio" name="add-new-author" value="false" />
            <label for="add-new-author-false">Choose existing author</label>
        </div>
    </fieldset>

    <div class="flex-col flex">
        <label asp-for="Author.Name">Author Name(s)</label>
        <input asp-for="Author.Name" class="input bg-white input-bordered" id="author-text-input" />

        <select class="input bg-white h-36 hidden resize-y input-bordered" id="author-dropdown" asp-for="AuthorIds" size="6">
            <option value="">Select an author</option>
            @{
                foreach (var author in authors.OrderBy(a => a.Name)
                )
                {
                    <option value="@author.Id">@author.Name</option>
                }
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Add Book</button>
</form>

<script src="@Url.Content("~/js/add-book.js")"></script>