@using BookshelfMVC.DTO
@{
    ViewData["Title"] = "Home Page";
    List<BookDTO> books = (List<BookDTO>)ViewData["Books"];
    BookDTO[] shuffledBooks = books.Take(6).ToArray();
    Random.Shared.Shuffle(shuffledBooks);
}

<div class="flex justify-center h-64 items-center flex-col text-base-content">
    <h1 class="text-center text-3xl font-bold sm:text-5xl">BookShelf</h1>
    <p class="text-center text-lg">An online tool for managing your reading list with ease.</p>
    <a class="btn btn-wide btn-primary mt-6" asp-controller="Books" asp-action="Index">View all books</a>
</div>
<span class="flex items-center mb-6 text-sm">
    <span class="h-px flex-1 bg-base-content"></span>
    <span class="px-6">Here's a random selection!</span>
    <span class="h-px flex-1 bg-base-content"></span>
</span>
<div class="grid grid-cols-12 gap-6 auto-rows-fr mb-8">
    @foreach (BookDTO book in shuffledBooks)
    {
        @await Html.PartialAsync("_BookCardComponent", book)
    }
</div>